// ul.ant-menu.ant-menu-inline.ant-menu-dark.ant-menu-root
//     margin-top: 42px

.Jside
    width: 105px;

.Jmain
    width: 895px;

.titlebar
    -webkit-app-region:drag;
.anticon
    -webkit-app-region:no-drag;

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected
    background-color:rgb(91,90,91)

.ant-card-bordered
    border: 1px solid rgba(230,230,230,1)

.loader-bottom
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: absolute;

.pageCard
    width: 240px
    height: 260px
    overflow: hidden
    margin: 15px 20px

.picCard
    width: 240px
    height: 260px
    margin: 15px 20px
    display: flex
    flex-direction: column
    justify-content: center

.picCard .ant-card-body
    overflow-y: scroll

.ant-card-body
    padding:0px

.custom-card h3
    padding: 0px 10px 0px 10px

.custom-card p
    padding: 7px 5px 1px 5px

.detailPage p
    margin: 10px 150px 20px 150px

.detailPage h2
    text-align: center
    padding: 20px

.detailPage img
    clear: both;
    display: block;
    margin:auto;

.detailPage h4.pullquote
    padding: 10px 20px
    margin: 15px 160px 25px 170px
    background-color: #d1cfd4
    border-left: 5px solid #b1b1b1

i#minimize:hover
    color: black

i#close:hover
    color: black

i#minimize
    top: 6px
    left: 40px
    position: absolute
    color: rgba(0, 0, 0, 0)
    border-radius: 70px
    background: rgb(254, 193, 65)

i#close
    top: 6px
    left: 20px
    position: absolute
    color: rgba(0, 0, 0, 0)
    border-radius: 70px
    background: rgb(255, 98, 89)

div#title
    line-height: 20px
    color: white
    position: relative
    text-align: center
